/* Overall Header Styles */
.wrapper__header {
  margin-bottom: 30px;
}

/* Navigation Styles */
.wrapper__navs {
  display: flex;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    transition: transform 0.5s ease;
  }
}

.logo {
  margin-left: -11px;
}

.wrapper__silder{
  margin: 0 auto;
}

.categoriya__btn {
  width: 135px;
  padding: 12px 14px;
  border-radius: 8px;
  background-color: #25b6791a;
  color: #25b679;
  border: none;
  cursor: pointer;
  margin-top: -10px;
}

.nav__item {
  margin-left: 11px;
}

/* Search Styles */
.search {
  width: 100%;
  max-width: 367px;
  height: 44px;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  outline: none;
  background-color: #eee;

  @media screen and (max-width: 768px) {


    .search {
      width: auto;
    }

    .wrapper__silder{
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .categoriya__btn {
    background-color: transparent;
    color: #000;
  }
}

/* Navigation Styles */
.nav {
  @media screen and (max-width: 768px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    transform: translateY(0);
    transition: transform 0.5s ease;
  }

}

/* Slider Styles */
.slider-img {
  width: 100%;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

/* Navigation List Styles */
.nav__list {
  list-style: none;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 18px;
  gap: 10px;

  @media screen and (max-width: 768px) {
    margin-top: 0;
  }
}
/* Styles for smaller screens (max-width: 431px) */
@media screen and (max-width: 431px) {
  .categoriya__btn,
  .search {
    background-color: transparent;
    color: #000;
  }

  .search {
    width: 100%;
  }

  .nav__list {
    margin: 0 auto;
    transform: translateX(-70px);
  }

  .nav__item {
    margin-left: 5px;
  }

  .lang {
    width: 200px;
    text-align: center;
  }

  .wrapper__slider {
    margin: 0 auto; /* Adjust if needed */
  }

  .slider-img {
    width: 100%;
    height: auto;
  }
}

/* Default styles for slider images */
.slider-img {
  width: 100%;

  @media screen and (max-width: 768px) {
    height: auto;
  }
}

