.wrapper__header {
  margin-bottom: 30px;

  .box {
    display: flex;
    align-items: center;
    transform: translateY(20px);
    justify-content: space-around;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      transition: transform 0.5s ease; // Add a transition for smooth appearance
    }
  }

  .logo {
    margin-left: -11px;
  }

  .categoriya__btn {
    width: 135px;
    height: 44px;
    padding: 12px 14px; 
    border-radius: 8px;
    background-color: #25b6791a;
    color: #25b679;
    border: none;
    cursor: pointer;
    transform: translateY(-10px);
  }

  .nav__item {
    margin-left: 11px;
  }

  .search {
    width: 367px;
    height: 44px;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    gap: 160px;
    outline: none;
    background-color: #eee;

    @media screen and (max-width: 768px) {
      .search {
        width: auto;
      }
    }
  }

  .nav {
    @media screen and (max-width: 768px) {
      transform: translateY(100%);
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1;
      transition: transform 0.5s ease; // Add a transition for smooth appearance
    }
  }
  
  @media screen and (max-width: 431px) {
    .nav {
      transform: translateY(0);
    }
  }
  

  .nav {
    @media screen and (max-width: 768px) {
      transform: translateY(600px);
      position: fixed;
      bottom: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1;
    }
  }

  .nav__list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
  }

  @media screen and (max-width: 768px) {
    .nav__list {
      transform: translateY(100px);
    }

    .categoriya__btn {
      padding: 14px;
    }
  }
  
  @media screen and (max-width: 608px) {
    .nav__list {
      margin-left: 5px; // Adjust as needed
    }
  }
  
  @media screen and (max-width: 431px) {
    
  
    .categoriya__btn {
      width: 100%;
      margin-top: 10px;
    }
  
    .search {
      width: 100%;
    }
  
    .nav {
      width: 200px;
    }
  
    .nav__list {
      width: 200px;
      justify-content: center;
    }
  
    .lang {
      width: 100%;
      text-align: center;
    }
  
    .silder-img {
      width: 100%;
      margin-left: 0;
    }
  }
  
  
  @media screen and (max-width: 431px) {
    .lang .silder-img {
      width: 300px;
      margin-left: 22px;
    }
  }
}

.silder-img {
  object-fit: contain;
}