.wrapper__header {
  margin-bottom: 30px;

  .nav {
    display: flex;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      transition: transform 0.5s ease; // Add a transition for smooth appearance
    }
  }

  .logo {
    margin-left: -11px;
  }

  .categoriya__btn {
    width: 135px;
    height: 44px;
    padding: 12px 14px;
    border-radius: 8px;
    background-color: #25b6791a;
    color: #25b679;
    border: none;
    cursor: pointer;
    margin-top: 10px; // Adjust margin-top instead of transform
  }

  .nav__item {
    margin-left: 11px;
  }

  .search {
    width: 100%; // Use full width
    max-width: 367px; // Add max-width to prevent it from expanding too much
    height: 44px;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    margin-top: 10px; // Adjust margin-top instead of transform
    outline: none;
    background-color: #eee;

    @media screen and (max-width: 768px) {
      .search {
        width: auto;
      }
    }
  }

  .nav {
    @media screen and (max-width: 768px) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      z-index: 1;
      transform: translateY(0); // Reset transform
      transition: transform 0.5s ease; // Add a transition for smooth appearance
    }
  }

  .silder-img {
    width: 100%;

    @media screen and (max-width: 768px) {
      width: 700px;
      height: 346px;
    }
  }

  .nav__list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
  }

  @media screen and (max-width: 768px) {
    .nav__list {
      margin-top: 0; // Adjust margin-top
    }

    .categoriya__btn {
      padding: 14px;
      margin-top: 10px; // Adjust margin-top
    }
  }

  @media screen and (max-width: 431px) {
    .categoriya__btn {
      margin-top: 10px;
    }

    .search {
      width: 100%;
    }

    .nav__list {
      margin: 0 auto;
      transform: translateY(0); // Reset transform
    }

    .lang {
      width: 100%;
      text-align: center;
    }

    .silder-img {
      width: 100%;
      height: auto;
    }
  }

  .lang {
    padding: 8px;
    font-size: 16px;

    @media screen and (max-width: 400px) {
      .silder-img {
        width: 300px;
        height: 346px;
        margin-left: 22px;
      }
    }
  }
}

.silder-img {
  object-fit: contain;
  width: 100%;
}
